<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Movies</title>
</head>
<body class="top-movies">
    
</body>
</html>
=======
<div>
    <p>{{ movieData.data.items[0] }}</p>
    <p>{{ actors }}</p>
    <p>{{ rating }}</p>
</div>
>>>>>>> 48d7e775b9375e042fa0bf4a4f8e1aaa54e15fb2
