<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>
<div class="create-review">
  <div class="post row mt-4">
    <div class="col-md-12">
      <h3>Create a New Review:</h3>

      <form class="form new-project-form">
        <div class="form-group">
          <label for="movie-title">Movie title:</label>
          <input class="form-input" type="text" id="project-name" name="project-name" />
        </div>
        <div class="form-group">
          <label for="movie-review">Review:</label>
          <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="./js/profile.js"></script>
