body {
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    flex: auto;
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2ebf91, #8360c3);
    border: 1px solid black;
    box-shadow: 2px 2px 2px gray;
}

nav {
    /* position: fixed; */
    right: 10px;
    top: 10%;
}

.movies {
    text-align: center;
    border: 5px solid black;
}

h5 {
    margin-bottom: 5%;
}

h1 {
    text-align: center;
}


.login {
    border: 5px solid black;
    float: left;
    margin-left: 20%;
    padding: 15px;
    margin-top: 10%;
}

.signup {
    border: 5px solid black;
    float: right;
    margin-right: 20%;
    padding: 15px;
    margin-top: 10%;

}


button {
    background-color: #c266ff;
}

button:hover {
    background-color: #856998;
}

img {
    margin-top: 5%;
}

.titles {
    color: #800000;
}

.review {
    border: 3px solid black;
    padding: 10px;
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2ebf91, #8360c3);
}

p {
    font-size: 20px;
}

.post {
    border: 5px solid black;
    display: flex;
}

.create-review {
    justify-content: center;
    padding: 10%;
}

#imdb_image {
    width: 20%;
}

.your-review {
    border: 5px solid black;
    display: flex;
    flex-direction: column;
}

#current-reviews {
    margin: 10%;
}

.single-review {
    flex: 1;
    display: flex;
    border: 3px solid black;
    padding: 2%;
    background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
}

.new-review {
    background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
    padding-top: 0;
}